<div class="toolbar" role="banner" *ngIf="isLoggedin === true">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div>
    <span>
      <a href="#{{ user.email }}">
        <img alt="Avatar" src="{{ user.photoUrl }}" width="24"/>
      </a>
    </span>
  </div>
</div>

<div class="content" role="main">
  <div *ngIf="isLoggedin === true; else elseBlock">
    <router-outlet></router-outlet>
  </div>
  <ng-template #elseBlock>
    <img src="/assets/login.png" alt="Life" width="100">
    <h1>Life</h1>
    <p>
      Your life, my life, our lives.
    </p>
    <p>
      by <a href="https://www.anthony-dessalles.com/" target="_blank">Anthony Dessalles</a>.
    </p>

    <div>
      <button (click)="loginWithGoogle()" mat-flat-button color="primary">
        Login with Google
      </button>
    </div>
  </ng-template>
</div>
