.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #8b0a50;
  color: white;
  padding: 0 8px;
  z-index: 1000;
}

.toolbar a {
  color: #fff;
}

.toolbar span {
  padding: 0 5px;
}

.content {
  margin: 65px auto 0px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

img {
  max-width: 100%;
  vertical-align: baseline;
}

a {
  color: #8b0a50;
}

button {
  color: #fff;
  background-color: #8b0a50 !important;
  border-color: #8b0a50;
  width: 180px;
  height: 40px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
