a {
  color: #8b0a50;
}

mat-card {
  text-align: left;
  margin: 15px 15px;
  padding: 5px 15px;
}

h1, h2, h3 {
  margin: 10px;
}

mat-sidenav {
  position: fixed;
  margin-top: 65px;
}

canvas {
  max-width: 100%;
  max-height: 750px;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.disabled {
  color: grey;
  opacity: 30%
}

mat-icon {
  color: #8b0a50 !important;
}

.pointer {
  cursor: pointer;
}

mat-expansion-panel {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

.no_margin {
  margin-left: 0px;
  margin-right: 0px;
}

img {
  width: auto;
  max-width: 100%;
}