<ngb-carousel
	*ngIf="slides"
  	#carousel
	[interval]="2000"
>
	<ng-template ngbSlide *ngFor="let slide of slides">
		<div class="picsum-img-wrapper">
			<img [src]="'https://s3.eu-west-3.amazonaws.com/life.anthony-dessalles.com/album-'+userId+'/album-'+userId+' ('+slide+').png'" alt="slide" />
		</div>
	</ng-template>
</ngb-carousel>
<div mat-dialog-content>
	<iframe width="100%" height="100" [src]="youtubeURL" title="YouTube Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>