ngb-carousel {
  max-height: 100%;
  width: 78vw;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

img {
  max-height: 80vh;
  height: auto;
  max-width: 100%;
}

div {
  background-color: #000000;
}