<div *ngIf="user.name; else elseBlock">
  <mat-sidenav-container>
    <h1 *ngIf="user.name" id="{{ user.email }}">{{ user.name }} {{ user.surname }}</h1>

    <mat-card *ngIf="user.userKpis!==undefined && user.userKpis.length > 0">
      <mat-card-header>
        <mat-card-title>Data</mat-card-title>
        <mat-card-subtitle>Last updated on {{ user.userKpis[0].updatedAt|date:'d/M/Y' }}.</mat-card-subtitle>
      </mat-card-header>
      <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType"></canvas>
      <mat-list>
        <div *ngFor="let userKpi of user.userKpis">
          <mat-list-item *ngIf="userKpi.kpiType=='score'">
            <mat-icon matListItemIcon>scoreboard</mat-icon>
            <span matListItemTitle>{{ userKpi.total }} {{ userKpi.type.slug|uppercase }}</span>
            <span matListItemLine *ngIf="userKpi.totalPoints">Avg Pts: {{ userKpi.totalPoints/userKpi.total }}</span>
            <span matListItemLine *ngIf="userKpi.totalWins">Wins: {{ userKpi.totalWins*100/userKpi.total }}%</span>
            <span matListItemLine *ngIf="userKpi.totalDraws">Draws: {{ userKpi.totalDraws*100/userKpi.total }}%</span>
            <span matListItemLine *ngIf="userKpi.totalLosses">Losses: {{ userKpi.totalLosses*100/userKpi.total }}%</span>
          </mat-list-item>
      </div>
      </mat-list>
      <mat-card-header>
        <mat-card-title>Badges</mat-card-title>
        <mat-card-subtitle>Discover the badges you have unlocked.</mat-card-subtitle>
      </mat-card-header>
      <mat-list role="list">
        <mat-list-item [ngClass]="{'disabled': false == userBadges['10+']}">
          <mat-icon matListItemIcon>replay_10</mat-icon>
          <div matListItemTitle>10+</div>
          <div matListItemLine *ngIf="user.slides > 0">Let's celebrate <a class="pointer" (click)="openDialog(user.slides, user.youtubeEmbedId, user.id)" *ngIf="user.slides > 0">10+ years of pictures</a>.</div>
        </mat-list-item>
        <mat-list-item [ngClass]="{'disabled': false == userBadges['nightclub']}">
          <mat-icon matListItemIcon>liquor</mat-icon>
          <div matListItemTitle>CLUBBER</div>
          <div matListItemLine>You have been to a nightclub.</div>
        </mat-list-item>
        <mat-list-item [ngClass]="{'disabled': false == userBadges['contributor']}">
          <mat-icon matListItemIcon>play_arrow</mat-icon>
          <div matListItemTitle>CONTRIBUTOR</div>
          <div matListItemLine *ngIf="user.gamername">Thank you <a href="https://games.anthony-dessalles.fr/blog/tags/{{ user.gamername }}" target="_blank">{{ user.gamername }}</a>.</div>
        </mat-list-item>
        <mat-list-item [ngClass]="{'disabled': false == userBadges['football']}">
          <mat-icon matListItemIcon>sports_soccer</mat-icon>
          <div matListItemTitle>FOOTBALLER</div>
          <div matListItemLine>You have played football.</div>
        </mat-list-item>
        <mat-list-item [ngClass]="{'disabled': false == userBadges['video_game']}">
          <mat-icon matListItemIcon>gamepad</mat-icon>
          <div matListItemTitle>GAMER</div>
          <div matListItemLine>You have played video games.</div>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-accordion>
      <!-- Activities -->
      <mat-expansion-panel hideToggle id="{{ activities }}">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ activities }}</mat-panel-title>
          <mat-panel-description>
            Search your activities
            <mat-icon matListItemIcon>event</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <mat-label>Select a starting date</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="addEvent('change', $event)" placeholder="MM/DD/YYYY" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <p *ngIf="userActivities.length <= 1">{{ userActivities.length }} activity found</p>
        <p *ngIf="userActivities.length > 1">{{ userActivities.length }} activities found</p>
        <p *ngIf="loadingActivities">Loading activities...</p>
        <mat-accordion *ngIf="userActivities.length">
          <mat-expansion-panel hideToggle (click)="getActivity(currentActivity.id)" *ngFor="let currentActivity of userActivities" class="no_margin">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ currentActivity.name }} {{ currentActivity.start|date:'d/M/Y' }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="activity && activity.id === currentActivity.id" mat-line>
              <p *ngIf="activity.type">{{ activity.type.slug|uppercase }}</p>
              <p>From {{ activity.start|date:'h:mm' }} to {{ activity.end|date:'h:mm' }}.</p>
              <p *ngIf="activity.description">{{ activity.description }}</p>
              <!-- Activity Albums -->
              <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let album of activity.albums">
                  <mat-icon matListItemIcon>photo_album</mat-icon>
                  <div matListItemTitle>
                    <a href="{{ album['shareableUrl'] }}" *ngIf="album['shareableUrl']; else elseBlock" target="_blank" title="{{ album.title }}">
                      {{ album.title }}
                    </a>
                    <ng-template #elseBlock>
                      <a href="{{ album['productUrl'] }}" target="_blank">
                        {{ album.title }}
                      </a>
                    </ng-template>
                  </div>
                </mat-list-item>
              </mat-list>
              <!-- Activity Users -->
              <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let user of activity.users">
                  <mat-icon matListItemIcon>person</mat-icon>
                  <div matListItemTitle>{{ user.name }} {{ user.surname }}</div>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <!-- Albums -->
      <mat-expansion-panel hideToggle id="{{ albums }}">
        <mat-expansion-panel-header (click)="clickAlbums()">
          <mat-panel-title>{{ albums }}</mat-panel-title>
          <mat-panel-description>
            Discover your albums
            <mat-icon matListItemIcon>photo_album</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="userAlbums.length <= 1">{{ userAlbums.length }} album found</p>
        <p *ngIf="userAlbums.length > 1">{{ userAlbums.length }} albums found</p>
        <p *ngIf="loadingAlbums">Loading albums...</p>
        <mat-list>
          <mat-list-item *ngFor="let album of userAlbums">
            <span matListItemTitle>
              <a href="{{ album['shareableUrl'] }}" *ngIf="album['shareableUrl']; else elseAlbumBlock" target="_blank" title="{{ album.title }}">
                {{ album.title }}
              </a>
              <ng-template #elseAlbumBlock>
                <a href="{{ album['productUrl'] }}" target="_blank">
                  {{ album.title }}
                </a>
              </ng-template>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!-- Files -->
      <mat-expansion-panel hideToggle id="{{ files }}">
        <mat-expansion-panel-header (click)="clickFiles()">
          <mat-panel-title>{{ files }}</mat-panel-title>
          <mat-panel-description>
            Discover your videos
            <mat-icon matListItemIcon>upload_file</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="userFiles.length <= 1">{{ userFiles.length }} file found</p>
        <p *ngIf="userFiles.length > 1">{{ userFiles.length }} files found</p>
        <p *ngIf="loadingFiles">Loading files...</p>
        <mat-list>
          <mat-list-item *ngFor="let file of userFiles">
            <span matListItemTitle><a href="{{ file.embedHtml }}" target="_blank" *ngIf="file.embedHtml">{{ file.filename }}</a></span>
            <span matListItemLine *ngIf="file.description">{{ file.description }}</span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!-- Progressions -->
      <mat-expansion-panel hideToggle id="{{ progressions }}">
        <mat-expansion-panel-header (click)="clickProgressions()">
          <mat-panel-title>{{ progressions }}</mat-panel-title>
          <mat-panel-description>
            Discover your progressions
            <mat-icon matListItemIcon>arrow_upward</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="userProgressions.length <= 1">{{ userProgressions.length }} progression found</p>
        <p *ngIf="userProgressions.length > 1">{{ userProgressions.length }} progressions found</p>
        <p *ngIf="loadingProgressions">Loading progressions...</p>
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let progression of userProgressions" class="no_margin">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ progression.name }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngIf="progression.game && progression.type">{{ progression.game.name }} {{ progression.type.slug|uppercase }}</p>
            <p *ngIf="progression.difficulty">Difficulty: {{ progression.difficulty }}</p>
            <p *ngIf="progression.description">{{ progression.description }}</p>
            <!-- File+Videos -->
            <mat-list role="list">
              <mat-list-item *ngIf="progression.file">
                <mat-icon matListItemIcon>upload_file</mat-icon>
                <span matListItemTitle>
                  <a href="https://s3.eu-west-3.amazonaws.com/games.anthony-dessalles.com/{{ progression.file.path }}/{{ progression.file.filename }}"
                  *ngIf="'/api/sources/4' == progression.file.source" target="_blank">
                    {{ progression.file.filename }}
                  </a>
                </span>
              </mat-list-item>
              <mat-list-item *ngFor="let video of progression.videos">
                <mat-icon matListItemIcon>upload_file</mat-icon>
                <span matListItemTitle>
                  <a *ngIf="video.position">[{{ video.position }}] </a>
                  <a href="{{ video.embedHtml }}" target="_blank" *ngIf="video.embedHtml">{{ video.filename }}</a>
                </span>
              </mat-list-item>
            </mat-list>
            <!-- Activity Users -->
            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let user of progression.users">
                <mat-icon matListItemIcon>person</mat-icon>
                <span matListItemTitle>{{ user.name }} {{ user.surname }}</span>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <!-- Scores -->
      <mat-expansion-panel hideToggle id="{{ scores }}">
        <mat-expansion-panel-header (click)="clickScores()">
          <mat-panel-title>{{ scores }}</mat-panel-title>
          <mat-panel-description>
            Discover your scores
            <mat-icon matListItemIcon>scoreboard</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="userScores.length <= 1">{{ userScores.length }} score found</p>
        <p *ngIf="userScores.length > 1">{{ userScores.length }} scores found</p>
        <p *ngIf="loadingScores">Loading scores...</p>
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let userScore of userScores" class="no_margin">
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="userScore.score && userScore.score.activity" matListItemTitle>{{ userScore.score.activity.name }}</mat-panel-title>
              <mat-panel-title *ngIf="userScore.score && userScore.score.game" matListItemTitle>{{ userScore.score.game.name }}</mat-panel-title>
              <mat-panel-description *ngIf="userScore.score && userScore.score.type">
                {{ userScore.score.type.slug|uppercase }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Date -->
            <p *ngIf="userScore.score && userScore.score.activity">{{ userScore.score.activity.start|date:'d/M/Y' }}</p>
            <!-- Score -->
            <p *ngIf="userScore.score && userScore.score.home && userScore.score.away">{{ userScore.score.home }} vs {{ userScore.score.away }}</p>
            <p *ngIf="userScore.score && userScore.score.homePlayers && userScore.score.awayPlayers">{{ userScore.score.homePlayers }}v{{ userScore.score.awayPlayers }}</p>
            <p *ngIf="userScore.score && userScore.score.homePoints!==undefined && userScore.score.awayPoints!==undefined">{{ userScore.score.homePoints }}-{{ userScore.score.awayPoints }}</p>
            <p *ngIf="userScore.score && userScore.score.difficulty">{{ userScore.score.difficulty }}</p>
            <p *ngIf="userScore.score && userScore.score.duration">{{ userScore.score.duration }}m</p>
            <!-- User Score -->
            <div *ngIf="userScore.isHome; else AwayPlayer">Home Player</div>
            <ng-template #AwayPlayer>Away Player</ng-template>
            <div *ngIf="userScore.points!==undefined">{{ userScore.points }}pts</div>
            <div *ngIf="userScore.isDraw">Draw</div>
            <div *ngIf="userScore.isLose">Lose</div>
            <div *ngIf="userScore.isWin">Win</div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <!-- Timelines -->
      <mat-expansion-panel hideToggle id="{{ timelines }}">
        <mat-expansion-panel-header (click)="clickTimelines()">
          <mat-panel-title>{{ timelines }}</mat-panel-title>
          <mat-panel-description>
            Discover your timelines
            <mat-icon matListItemIcon>timeline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="userTimelines.length <= 1">{{ userTimelines.length }} timeline found</p>
        <p *ngIf="userTimelines.length > 1">{{ userTimelines.length }} timelines found</p>
        <p *ngIf="loadingTimelines">Loading timelines...</p>
        <mat-list role="list">
          <mat-list-item *ngFor="let timeline of userTimelines">
            <span matListItemTitle>{{ timeline.name }}</span>
            <span matListItemLine>{{ timeline.start|date:'d/M/Y' }} - {{ timeline.end|date:'d/M/Y' }}</span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
  </mat-sidenav-container>
</div>
<ng-template #elseBlock>
  <span>Loading...</span>
</ng-template>
